<h1>
   Add a new photo
</h1>

<form action="/create_photo">
   <div>
      <label for="URL">
         Image URL
      </label>

      <input id="URL" type="text" name="img_url">
   </div>
   <div>
      <label for="Caption">
         Caption
      </label>

      <input id="Caption" type="text" name="img_caption">
   </div>
   <button>Create Photo</button>
</form>
